<h1>Welcome to Rewsly!</h1>

<h3><%= link_to "+ Add New Story", new_story_path %></h3>

<%= form_tag stories_path, method: "GET" do %>
	<%= text_field_tag :q, params[:q] %>
	<%= submit_tag "Search Stories" %>
<% end %>

<br/>

<% @stories.each do |story| %>
	<section>
		<h3><%= link_to story.title, story %></h3>
		<p>
			===========================================
		</p>
	</section>
<% end %>